<li>
  <a href="{{ html_url }}"><h3>{{ name }}</h3></a>
  <p> Owner: {{ owner.login }} <img src="{{ owner.avatar_url }}" /></p>
  <p> Description: {{ description }}</p>
  <p> Language: {{ language }}</p>
  <p> Created: {{ created_at }} </p>
  <p> Last updated: {{ updated_at }} </p>
</li>
