<section id='footer-template' type="text/x-handlebars-template">
  <ul id='footer-items'>
    <li>&copy; {{copyrightYear}}<span class=footer-color> Dan Oswalt</span></li>
    <li>Projects Listed: <span class=footer-color>{{projectCount}}</span></li>
    <li>Published This Month: <span class=footer-color>{{last30DaysCount}}</span></li>
    <li>Occurences of letter <span class=footer-color>'{{randomLetter}}'</span> in project descriptions: <span class=footer-color>{{randomLetterCount}}</span></li>
  </ul>
</section>
